@page
@model RPGForum.Pages.PersonagensPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personagens</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personagens.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personagens.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personagens.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personagens.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personagens.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personagens.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personagens.Builds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personagens.Builds)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Personagens.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
